# freecodecamp demographics project

## this includes my personal learnings

In [67]:
#importing the necessary packages
import numpy as py
import pandas as pd

In [178]:
df = pd.read_csv('adult.data.csv')

df.columns

#df.info() - gives info about the dataframe
#df.head() or df.tail - gives the top 5 or bottom 5 (default - can change when putting in the argument)
#df.describe() - gives stats

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [16]:
#count the number of each race in the dataset:
df['race'].value_counts()



#race_count = race_count = pd.Series([27816, 3124, 1039, 311, 271], index =['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'])

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [35]:
df.loc[(df['sex'] == 'Male')].mean()
#average_age_men = 39.433547

/var/folders/xy/2gbjtsr91qn8_70909kx9tf40000gn/T/ipykernel_48918/1414265233.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.loc[(df['sex'] == 'Male')].mean()

age                   39.433547
fnlwgt            191771.449013
education-num         10.102891
capital-gain        1329.370078
capital-loss         100.213309
hours-per-week        42.428086
dtype: float64

In [31]:
df['education'].value_counts('Bachelors')
#percentage_bachelors = 0.164461 * 100

HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64

In [112]:
sal = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'),['salary', 'education']]

sal.groupby(['salary']).count()

#higher_education = 3486 * 100 /(4005 + 3486)

        education
salary
<=50K        4005
>50K         3486

In [123]:
nsal = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')),['salary', 'education']]

nsal.groupby(['salary']).count()

#lower_education = 4355 * 100 / (20715 + 4355)

        education
salary
<=50K       20715
>50K         4355

In [124]:
higher_education = 3486 * 100 /(4005 + 3486)
print(round(higher_education, 1))
lower_education = 4355 * 100 / (20715 + 4355)
print(round(lower_education, 1))

46.5
17.4

In [136]:
tedu = df.loc[:, ['education']]
print('Total education is %d ' % tedu.count())
edu = df.loc[~((df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')),'education']
print('Total without advanced education is %d ' % edu.count())

Total education is 32561
Total without advanced education is 25070

In [140]:
#df['hours-per-week'].sort_values(ascending=False)
df['hours-per-week'].min()

1

In [159]:
hrs = df.loc[(df['hours-per-week'] == df['hours-per-week'].min()), ['salary']]
print("Total amount is %d" % hrs.count())
hrs.value_counts()

#num_min_workers = round(2/20, 1)

#rich_percentage = round(18/20, 1)

Total amount is 20

salary
<=50K     18
>50K       2
dtype: int64

In [194]:
#highest earning country:
total_countries = df['native-country'].value_counts()
#total_countries
total_50k = df[df['salary'] == '>50K']['native-country'].value_counts()

highest_earning = (total_50k/total_countries * 100).sort_values(ascending=False)
highest_earning

Iran                          41.860465
France                        41.379310
India                         40.000000
Taiwan                        39.215686
Japan                         38.709677
Yugoslavia                    37.500000
Cambodia                      36.842105
Italy                         34.246575
England                       33.333333
Canada                        32.231405
Germany                       32.116788
Philippines                   30.808081
Hong                          30.000000
Greece                        27.586207
China                         26.666667
Cuba                          26.315789
?                             25.042882
Scotland                      25.000000
United-States                 24.583476
Hungary                       23.076923
Ireland                       20.833333
South                         20.000000
Poland                        20.000000
Thailand                      16.666667
Ecuador                       14.285714
Jamaica                       12.345679
Laos                          11.111111
Portugal                      10.810811
Puerto-Rico                   10.526316
Trinadad&Tobago               10.526316
Haiti                          9.090909
El-Salvador                    8.490566
Honduras                       7.692308
Vietnam                        7.462687
Peru                           6.451613
Nicaragua                      5.882353
Mexico                         5.132193
Guatemala                      4.687500
Columbia                       3.389831
Dominican-Republic             2.857143
Holand-Netherlands                  NaN
Outlying-US(Guam-USVI-etc)          NaN
Name: native-country, dtype: float64

In [174]:
#most popular occupation in India
occ = df.loc[((df['salary'] == '>50K') & (df['native-country'] == 'India')), ['occupation']]
occ.value_counts()

occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Adm-clerical         1
Sales                1
Transport-moving     1
dtype: int64